{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Планёрка™</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/variables.css'%}">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" href="{% static 'css/animations.css'%}">
    <link rel="stylesheet" href="{% static 'css/forms.css'%}">
    <link rel="stylesheet" href="{% static 'css/buttons.css'%}">
    <link rel="stylesheet" href="{% static 'css/menu.css'%}">
    <link rel="stylesheet" href="{% static 'css/data-view.css'%}">
    <link rel="stylesheet" href="{% static 'css/protocols.css'%}">
    <link rel="stylesheet" href="{% static 'css/orders.css'%}">
    <link rel="stylesheet" href="{% static 'css/reliability.css'%}">
    <link rel="stylesheet" href="{% static 'css/faults.css'%}">
    <link rel="stylesheet" href="{% static 'css/notifications.css'%}">
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
    <link rel="stylesheet" href="{% static 'css/tags.css'%}">
    <link rel="stylesheet" href="{% static 'css/sort_controls.css'%}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="main-menu">
    <div class="header-container">
        <h1>Планёрка™</h1>
        <div id="logoutBtn" class="logout-button">
            <span id="currentDepartment"></span>
            <svg class="logout-icon" viewBox="0 0 24 24">
                <path fill="currentColor" d="M16,17V14H9V10H16V7L21,12L16,17M14,2A2,2 0 0,1 16,4V6H14V4H5V20H14V18H16V20A2,2 0 0,1 14,22H5A2,2 0 0,1 3,20V4A2,2 0 0,1 5,2H14Z"/>
            </svg>
        </div>
    </div>
    <div class="menu-buttons">
      <button id="dataInputBtn" class="menu-button">Ввод данных</button>
      <button id="dataViewBtn" class="menu-button">Просмотр данных</button>
      <button id="dataPlanBtn" class="menu-button">Планирование</button>
      <button id="dataProtocolBtn" class="menu-button">Протоколы совещаний</button>
      <button id="dataFaultsBtn" class="menu-button">Устранение замечаний</button>
      <button id="dataOrderBtn" class="menu-button">Выполнение распоряжений</button>
      <button id="dataReliabilityBtn" class="menu-button">Надёжность</button>
    </div>
  </div>

  <div id="app-container"></div>
  <svg style="display: none;">
    <symbol id="arrow-left" viewBox="0 0 24 24">
        <path fill="currentColor" d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/>
    </symbol>
    <symbol id="arrow-right" viewBox="0 0 24 24">
        <path fill="currentColor" d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/>
    </symbol>
  </svg>
    <script>
        const csrfToken = "{{ csrf_token }}";
        const staticUrl = "{% static '' %}";

        // Проверка аутентификации при загрузке
        const department = localStorage.getItem("department");
        const token = localStorage.getItem("auth_token");

        if (!department || !token) {
        window.location.href = "{% url 'login' %}";
        }
    </script>
    <script type="module" src="{% static 'js/faults.js' %}"></script>
    <script type="module" src="{% static 'js/data-input.js' %}"></script>
    <script type="module" src="{% static 'js/data-view.js' %}"></script>
    <script type="module" src="{% static 'js/planning.js' %}"></script>
    <script type="module" src="{% static 'js/protocols.js' %}"></script>
    <script type="module" src="{% static 'js/orders.js' %}"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
</body>
</html>
